<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <!--DeploymentType :- Live-0, Dev-1, Testing-2 -->
    <add key="DeploymentType" value="2" />
    
    <add key="LiveConnectionString" value="Server=saya-live.cq6nozddb1mr.us-west-2.rds.amazonaws.com;Port=5432;Database=SAYA;User Id=SayaLive;Password=Mli$3120$8%(0;Timeout=1024;Pooling=false;CommandTimeout=0;" />
    
    <add key="DevConnectionString" value="Server=saya-dev.cq6nozddb1mr.us-west-2.rds.amazonaws.com;  Port=5432; Database=sayadev;User Id=SayaDev;Password=duca$$0234;Timeout=1024;Pooling=false;CommandTimeout=0;" />
    
    <add key="TestingConnectionString" value="Server=saya-dev.cq6nozddb1mr.us-west-2.rds.amazonaws.com;  Port=5432; Database=saya;User Id=SayaDev;Password=duca$$0234;Timeout=1024;Pooling=false;CommandTimeout=0;" />

  </appSettings>
</configuration>